# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp

# Ignore environment variable files
.env

ansible/